@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*
vert : #00dc91
vert accent :#00a377
rose : #ff0057
gris : #f1f2f6
bleu fonce : #1f2232
violet : #4808a1
*/


html{
  font-family: 'Poppins', Helvetica, sans-serif;
}

body{
  /* background: rgb(219,194,255);
  background: linear-gradient(180deg, rgba(219,194,255,1) 0%, rgba(241,242,246,1) 69%); */

  background: rgb(219,194,255);
  background: linear-gradient(180deg, rgba(219,194,255,1) 0%, rgba(241,242,246,1) 69%);
}

h1{
  color: #000000;
  font-size: 4em;
  font-weight: 100;
  margin-bottom: 0;
}

h2{
  color: #3a3a3a;
  margin-bottom: 0;
}

a{
  text-decoration: none;
}

p{
  max-width: 500px;
}

p::before{
  position: fixed;
  width: 5px;
  background-color: #ff0057;
}





.button{
  background-color: #4808a1;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  font-weight: 300;
  transition: background-color 0.5s ease;
  margin-bottom: 15px;
}

.button:hover{
  background-color:#4808a19f;
}

#profile-picture{
width: 200px;
border-radius: 50%;
}

.container{
display: grid;
grid-template-columns: 1fr 800px 1fr;
}

.card{
padding: 20px;
/* background-color: white; */
grid-column: 2;
margin-top: 15px;
/* border-radius: 5px; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px 0px;
/* box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.106); */

background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 11.5px );
-webkit-backdrop-filter: blur( 11.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card::before{
display: block;
width: 5px;
height: 5px;
background-color: #ff0057;
}


#social-nav{
min-width: 400px;
display: flex;
flex-direction: row;
gap: 0 15px;
justify-content: center;
list-style: none;

}

ul{
  padding: 0;
  margin-top: 0;
}

.social-icon{
 font-size: 3em;
 color: #ff0057;
}

.social-icon:hover{
  color: #ff6d9d;
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    grid-template-columns: 1fr 700px 1fr;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    grid-template-columns: 1fr 500px 1fr;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    grid-template-columns: 1fr 300px 1fr;
  }
}
